openapi: 3.2.0
info:
  description: Daytona Toolbox API
  title: Daytona Sandbox Toolbox Lsp API
  contact: {}
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: v0.0.0-dev
servers:
- url: https://proxy.app.daytona.io/toolbox
  description: Daytona Sandbox Toolbox proxy
tags:
- name: lsp
paths:
  /lsp/completions:
    post:
      description: Get code completion suggestions from the LSP server
      tags:
      - lsp
      summary: Get code completions
      operationId: Completions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionList'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LspCompletionParams'
        description: Completion request
        required: true
  /lsp/did-close:
    post:
      description: Notify the LSP server that a document has been closed
      tags:
      - lsp
      summary: Notify document closed
      operationId: DidClose
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LspDocumentRequest'
        description: Document request
        required: true
  /lsp/did-open:
    post:
      description: Notify the LSP server that a document has been opened
      tags:
      - lsp
      summary: Notify document opened
      operationId: DidOpen
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LspDocumentRequest'
        description: Document request
        required: true
  /lsp/document-symbols:
    get:
      description: Get symbols (functions, classes, etc.) from a document
      tags:
      - lsp
      summary: Get document symbols
      operationId: DocumentSymbols
      parameters:
      - description: Language ID (e.g., python, typescript)
        name: languageId
        in: query
        required: true
        schema:
          type: string
      - description: Path to project
        name: pathToProject
        in: query
        required: true
        schema:
          type: string
      - description: Document URI
        name: uri
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LspSymbol'
  /lsp/start:
    post:
      description: Start a Language Server Protocol server for the specified language
      tags:
      - lsp
      summary: Start LSP server
      operationId: Start
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LspServerRequest'
        description: LSP server request
        required: true
  /lsp/stop:
    post:
      description: Stop a Language Server Protocol server
      tags:
      - lsp
      summary: Stop LSP server
      operationId: Stop
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LspServerRequest'
        description: LSP server request
        required: true
  /lsp/workspacesymbols:
    get:
      description: Search for symbols across the entire workspace
      tags:
      - lsp
      summary: Get workspace symbols
      operationId: WorkspaceSymbols
      parameters:
      - description: Search query
        name: query
        in: query
        required: true
        schema:
          type: string
      - description: Language ID (e.g., python, typescript)
        name: languageId
        in: query
        required: true
        schema:
          type: string
      - description: Path to project
        name: pathToProject
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LspSymbol'
components:
  schemas:
    LspServerRequest:
      type: object
      required:
      - languageId
      - pathToProject
      properties:
        languageId:
          type: string
        pathToProject:
          type: string
    LspLocation:
      type: object
      required:
      - range
      - uri
      properties:
        range:
          $ref: '#/components/schemas/LspRange'
        uri:
          type: string
    CompletionContext:
      type: object
      required:
      - triggerKind
      properties:
        triggerCharacter:
          type: string
        triggerKind:
          type: integer
    LspRange:
      type: object
      required:
      - end
      - start
      properties:
        end:
          $ref: '#/components/schemas/LspPosition'
        start:
          $ref: '#/components/schemas/LspPosition'
    CompletionItem:
      type: object
      required:
      - label
      properties:
        detail:
          type: string
        documentation: {}
        filterText:
          type: string
        insertText:
          type: string
        kind:
          type: integer
        label:
          type: string
        sortText:
          type: string
    LspDocumentRequest:
      type: object
      required:
      - languageId
      - pathToProject
      - uri
      properties:
        languageId:
          type: string
        pathToProject:
          type: string
        uri:
          type: string
    LspSymbol:
      type: object
      required:
      - kind
      - location
      - name
      properties:
        kind:
          type: integer
        location:
          $ref: '#/components/schemas/LspLocation'
        name:
          type: string
    LspPosition:
      type: object
      required:
      - character
      - line
      properties:
        character:
          type: integer
        line:
          type: integer
    CompletionList:
      type: object
      required:
      - isIncomplete
      - items
      properties:
        isIncomplete:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/CompletionItem'
    LspCompletionParams:
      type: object
      required:
      - languageId
      - pathToProject
      - position
      - uri
      properties:
        context:
          $ref: '#/components/schemas/CompletionContext'
        languageId:
          type: string
        pathToProject:
          type: string
        position:
          $ref: '#/components/schemas/LspPosition'
        uri:
          type: string
