openapi: 3.2.0
info:
  description: Daytona Toolbox API
  title: Daytona Sandbox Toolbox Process API
  contact: {}
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: v0.0.0-dev
servers:
- url: https://proxy.app.daytona.io/toolbox
  description: Daytona Sandbox Toolbox proxy
tags:
- name: process
paths:
  /process/code-run:
    post:
      description: Execute Python, JavaScript, or TypeScript code and return output, exit code, and artifacts
      tags:
      - process
      summary: Execute code
      operationId: CodeRun
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeRunResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeRunRequest'
        description: Code execution request
        required: true
  /process/execute:
    post:
      description: Execute a shell command and return the output and exit code
      tags:
      - process
      summary: Execute a command
      operationId: ExecuteCommand
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteRequest'
        description: Command execution request
        required: true
  /process/pty:
    get:
      description: Get a list of all active pseudo-terminal sessions
      tags:
      - process
      summary: List all PTY sessions
      operationId: ListPtySessions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PtyListResponse'
    post:
      description: Create a new pseudo-terminal session with specified configuration
      tags:
      - process
      summary: Create a new PTY session
      operationId: CreatePtySession
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PtyCreateResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PtyCreateRequest'
        description: PTY session creation request
        required: true
  /process/pty/{sessionId}:
    get:
      description: Get detailed information about a specific pseudo-terminal session
      tags:
      - process
      summary: Get PTY session information
      operationId: GetPtySession
      parameters:
      - description: PTY session ID
        name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PtySessionInfo'
    delete:
      description: Delete a pseudo-terminal session and terminate its process
      tags:
      - process
      summary: Delete a PTY session
      operationId: DeletePtySession
      parameters:
      - description: PTY session ID
        name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gin.H'
  /process/pty/{sessionId}/connect:
    get:
      description: Establish a WebSocket connection to interact with a pseudo-terminal session
      tags:
      - process
      summary: Connect to PTY session via WebSocket
      operationId: ConnectPtySession
      parameters:
      - description: PTY session ID
        name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '101':
          description: Switching Protocols - WebSocket connection established
  /process/pty/{sessionId}/resize:
    post:
      description: Resize the terminal dimensions of a pseudo-terminal session
      tags:
      - process
      summary: Resize a PTY session
      operationId: ResizePtySession
      parameters:
      - description: PTY session ID
        name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PtySessionInfo'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PtyResizeRequest'
        description: Resize request with new dimensions
        required: true
  /process/session:
    get:
      description: Get a list of all active shell sessions
      tags:
      - process
      summary: List all sessions
      operationId: ListSessions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
    post:
      description: Create a new shell session for command execution
      tags:
      - process
      summary: Create a new session
      operationId: CreateSession
      responses:
        '201':
          description: Created
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
        description: Session creation request
        required: true
  /process/session/entrypoint:
    get:
      description: Get details of an entrypoint session including its commands
      tags:
      - process
      summary: Get entrypoint session details
      operationId: GetEntrypointSession
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
  /process/session/entrypoint/logs:
    get:
      description: Get logs for a sandbox entrypoint session. Returns JSON with separated stdout/stderr for SDK >= 0.161.0, plain text otherwise. Supports WebSocket streaming.
      tags:
      - process
      summary: Get entrypoint logs
      operationId: GetEntrypointLogs
      parameters:
      - description: Follow logs in real-time (WebSocket only)
        name: follow
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Entrypoint log content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCommandLogsResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SessionCommandLogsResponse'
  /process/session/{sessionId}:
    get:
      description: Get details of a specific session including its commands
      tags:
      - process
      summary: Get session details
      operationId: GetSession
      parameters:
      - description: Session ID
        name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
    delete:
      description: Delete an existing shell session
      tags:
      - process
      summary: Delete a session
      operationId: DeleteSession
      parameters:
      - description: Session ID
        name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
  /process/session/{sessionId}/command/{commandId}:
    get:
      description: Get details of a specific command within a session
      tags:
      - process
      summary: Get session command details
      operationId: GetSessionCommand
      parameters:
      - description: Session ID
        name: sessionId
        in: path
        required: true
        schema:
          type: string
      - description: Command ID
        name: commandId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Command'
  /process/session/{sessionId}/command/{commandId}/input:
    post:
      description: Send input data to a running command in a session for interactive execution
      tags:
      - process
      summary: Send input to command
      operationId: SendInput
      parameters:
      - description: Session ID
        name: sessionId
        in: path
        required: true
        schema:
          type: string
      - description: Command ID
        name: commandId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionSendInputRequest'
        description: Input send request
        required: true
  /process/session/{sessionId}/command/{commandId}/logs:
    get:
      description: Get logs for a specific command within a session. Returns JSON with separated stdout/stderr for SDK >= 0.167.0, plain text otherwise. Supports WebSocket streaming.
      tags:
      - process
      summary: Get session command logs
      operationId: GetSessionCommandLogs
      parameters:
      - description: Session ID
        name: sessionId
        in: path
        required: true
        schema:
          type: string
      - description: Command ID
        name: commandId
        in: path
        required: true
        schema:
          type: string
      - description: Follow logs in real-time (WebSocket only)
        name: follow
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Log content (JSON for new SDKs, plain text for old SDKs)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCommandLogsResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/SessionCommandLogsResponse'
  /process/session/{sessionId}/exec:
    post:
      description: Execute a command within an existing shell session
      tags:
      - process
      summary: Execute command in session
      operationId: SessionExecuteCommand
      parameters:
      - description: Session ID
        name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionExecuteResponse'
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionExecuteResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionExecuteRequest'
        description: Command execution request
        required: true
components:
  schemas:
    PtySessionInfo:
      type: object
      required:
      - active
      - cols
      - createdAt
      - cwd
      - envs
      - id
      - lazyStart
      - rows
      properties:
        active:
          type: boolean
        cols:
          type: integer
        createdAt:
          type: string
        cwd:
          type: string
        envs:
          type: object
          additionalProperties:
            type: string
        id:
          type: string
        lazyStart:
          description: Whether this session uses lazy start
          type: boolean
        rows:
          type: integer
    PtyResizeRequest:
      type: object
      required:
      - cols
      - rows
      properties:
        cols:
          type: integer
          maximum: 1000
          minimum: 1
        rows:
          type: integer
          maximum: 1000
          minimum: 1
    gin.H:
      type: object
      additionalProperties: {}
    CodeRunResponse:
      type: object
      properties:
        artifacts:
          $ref: '#/components/schemas/CodeRunArtifacts'
        exitCode:
          type: integer
        result:
          type: string
    CreateSessionRequest:
      type: object
      required:
      - sessionId
      properties:
        sessionId:
          type: string
    SessionExecuteRequest:
      type: object
      required:
      - command
      properties:
        async:
          type: boolean
        command:
          type: string
        runAsync:
          type: boolean
        suppressInputEcho:
          type: boolean
    CodeRunArtifacts:
      type: object
      properties:
        charts:
          type: array
          items:
            $ref: '#/components/schemas/Chart'
    Chart:
      type: object
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ChartElement'
        png:
          type: string
        title:
          type: string
        type:
          type: string
        x_label:
          type: string
        x_scale:
          type: string
        x_tick_labels:
          type: array
          items:
            type: string
        x_ticks:
          type: array
          items:
            type: number
        y_label:
          type: string
        y_scale:
          type: string
        y_tick_labels:
          type: array
          items:
            type: string
        y_ticks:
          type: array
          items:
            type: number
    Session:
      type: object
      required:
      - commands
      - sessionId
      properties:
        commands:
          type: array
          items:
            $ref: '#/components/schemas/Command'
        sessionId:
          type: string
    PtyCreateResponse:
      type: object
      required:
      - sessionId
      properties:
        sessionId:
          type: string
    PtyListResponse:
      type: object
      required:
      - sessions
      properties:
        sessions:
          type: array
          items:
            $ref: '#/components/schemas/PtySessionInfo'
    Command:
      type: object
      required:
      - command
      - id
      properties:
        command:
          type: string
        exitCode:
          type: integer
        id:
          type: string
    ChartElement:
      type: object
      properties:
        angle:
          type: number
        first_quartile:
          type: number
        group:
          type: string
        label:
          type: string
        max:
          type: number
        median:
          type: number
        min:
          type: number
        outliers:
          type: array
          items:
            type: number
        png:
          type: string
        points:
          type: array
          items:
            type: array
            items:
              type: number
        radius:
          type: number
        third_quartile:
          type: number
        title:
          type: string
        type:
          type: string
        value:
          type: string
        x_label:
          type: string
        y_label:
          type: string
    ExecuteResponse:
      type: object
      required:
      - result
      properties:
        exitCode:
          type: integer
        result:
          type: string
    SessionExecuteResponse:
      type: object
      required:
      - cmdId
      properties:
        cmdId:
          type: string
        exitCode:
          type: integer
        output:
          type: string
        stderr:
          type: string
        stdout:
          type: string
    PtyCreateRequest:
      type: object
      properties:
        cols:
          type: integer
        cwd:
          type: string
        envs:
          type: object
          additionalProperties:
            type: string
        id:
          type: string
        lazyStart:
          description: Don't start PTY until first client connects
          type: boolean
        rows:
          type: integer
    CodeRunRequest:
      type: object
      required:
      - code
      - language
      properties:
        argv:
          type: array
          items:
            type: string
        code:
          type: string
        envs:
          type: object
          additionalProperties:
            type: string
        language:
          description: python, javascript, typescript
          type: string
        timeout:
          type: integer
    SessionCommandLogsResponse:
      type: object
      required:
      - output
      - stderr
      - stdout
      properties:
        output:
          type: string
        stderr:
          type: string
        stdout:
          type: string
    ExecuteRequest:
      type: object
      required:
      - command
      properties:
        command:
          type: string
        cwd:
          description: Current working directory
          type: string
        envs:
          description: Environment variables to set for the command
          type: object
          additionalProperties:
            type: string
        timeout:
          description: Timeout in seconds, defaults to 10 seconds
          type: integer
    SessionSendInputRequest:
      type: object
      required:
      - data
      properties:
        data:
          type: string
