openapi: 3.1.0
info:
  title: Daytona admin preview API
  description: Daytona Admin API — admin, audit, config, runners, docker-registry, regions, object-storage, jobs operations on the Daytona AI platform.
  version: '1.0'
  contact:
    name: Daytona Platforms Inc.
    url: https://www.daytona.io
    email: support@daytona.com
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.daytona.io/api
  description: Daytona Cloud production API
tags:
- name: preview
paths:
  /preview/{sandboxId}/public:
    get:
      operationId: isSandboxPublic
      parameters:
      - name: sandboxId
        required: true
        in: path
        description: ID of the sandbox
        schema:
          type: string
      responses:
        '200':
          description: Public status of the sandbox
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: Check if sandbox is public
      tags:
      - preview
  /preview/{sandboxId}/validate/{authToken}:
    get:
      operationId: isValidAuthToken
      parameters:
      - name: sandboxId
        required: true
        in: path
        description: ID of the sandbox
        schema:
          type: string
      - name: authToken
        required: true
        in: path
        description: Auth token of the sandbox
        schema:
          type: string
      responses:
        '200':
          description: Sandbox auth token validation status
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: Check if sandbox auth token is valid
      tags:
      - preview
  /preview/{sandboxId}/access:
    get:
      operationId: hasSandboxAccess
      parameters:
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: User access status to the sandbox
          content:
            application/json:
              schema:
                type: boolean
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: Check if user has access to the sandbox
      tags:
      - preview
  /preview/{signedPreviewToken}/{port}/sandbox-id:
    get:
      operationId: getSandboxIdFromSignedPreviewUrlToken
      parameters:
      - name: signedPreviewToken
        required: true
        in: path
        description: Signed preview URL token
        schema:
          type: string
      - name: port
        required: true
        in: path
        description: Port number to get sandbox ID from signed preview URL token
        schema:
          type: number
      responses:
        '200':
          description: Sandbox ID from signed preview URL token
          content:
            application/json:
              schema:
                type: string
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: Get sandbox ID from signed preview URL token
      tags:
      - preview
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: API Key access
    oauth2:
      type: openIdConnect
      openIdConnectUrl: http://localhost:3000/.well-known/openid-configuration
