openapi: 3.2.0
info:
  description: Daytona Toolbox API
  title: Daytona Sandbox Toolbox Info API
  contact: {}
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: v0.0.0-dev
servers:
- url: https://proxy.app.daytona.io/toolbox
  description: Daytona Sandbox Toolbox proxy
tags:
- name: info
paths:
  /user-home-dir:
    get:
      description: Get the current user home directory path.
      tags:
      - info
      summary: Get user home directory
      operationId: GetUserHomeDir
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserHomeDirResponse'
  /version:
    get:
      description: Get the current daemon version
      tags:
      - info
      summary: Get version
      operationId: GetVersion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
  /work-dir:
    get:
      description: Get the current working directory path. This is default directory used for running commands.
      tags:
      - info
      summary: Get working directory
      operationId: GetWorkDir
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkDirResponse'
components:
  schemas:
    WorkDirResponse:
      type: object
      required:
      - dir
      properties:
        dir:
          type: string
    UserHomeDirResponse:
      type: object
      required:
      - dir
      properties:
        dir:
          type: string
