openapi: 3.2.0
info:
  description: Daytona Toolbox API
  title: Daytona Sandbox Toolbox Interpreter API
  contact: {}
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: v0.0.0-dev
servers:
- url: https://proxy.app.daytona.io/toolbox
  description: Daytona Sandbox Toolbox proxy
tags:
- name: interpreter
paths:
  /process/interpreter/context:
    get:
      description: Returns information about all user-created interpreter contexts (excludes default context)
      tags:
      - interpreter
      summary: List all user-created interpreter contexts
      operationId: ListInterpreterContexts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContextsResponse'
    post:
      description: Creates a new isolated interpreter context with optional working directory and language
      tags:
      - interpreter
      summary: Create a new interpreter context
      operationId: CreateInterpreterContext
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterpreterContext'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContextRequest'
        description: Context configuration
        required: true
  /process/interpreter/context/{id}:
    delete:
      description: Deletes an interpreter context and shuts down its worker process
      tags:
      - interpreter
      summary: Delete an interpreter context
      operationId: DeleteInterpreterContext
      parameters:
      - description: Context ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
  /process/interpreter/execute:
    get:
      description: Executes code in a specified context (or default context if not specified) via WebSocket streaming
      tags:
      - interpreter
      summary: Execute code in an interpreter context
      operationId: ExecuteInterpreterCode
      responses:
        '101':
          description: Switching Protocols
          headers:
            Connection:
              description: Upgrade
              schema:
                type: string
            Upgrade:
              description: websocket
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    ListContextsResponse:
      type: object
      required:
      - contexts
      properties:
        contexts:
          type: array
          items:
            $ref: '#/components/schemas/InterpreterContext'
    InterpreterContext:
      type: object
      required:
      - active
      - createdAt
      - cwd
      - id
      - language
      properties:
        active:
          type: boolean
        createdAt:
          type: string
        cwd:
          type: string
        id:
          type: string
        language:
          type: string
    CreateContextRequest:
      type: object
      properties:
        cwd:
          type: string
        language:
          type: string
