openapi: 3.1.0
info:
  title: Daytona admin port API
  description: Daytona Admin API — admin, audit, config, runners, docker-registry, regions, object-storage, jobs operations on the Daytona AI platform.
  version: '1.0'
  contact:
    name: Daytona Platforms Inc.
    url: https://www.daytona.io
    email: support@daytona.com
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.daytona.io/api
  description: Daytona Cloud production API
tags:
- name: port
paths:
  /port:
    get:
      description: Get a list of all currently active ports
      produces:
      - application/json
      tags:
      - port
      summary: Get active ports
      operationId: GetPorts
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PortList'
  /port/{port}/in-use:
    get:
      description: Check if a specific port is currently in use
      produces:
      - application/json
      tags:
      - port
      summary: Check if port is in use
      operationId: IsPortInUse
      parameters:
      - type: integer
        description: Port number (3000-9999)
        name: port
        in: path
        required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IsPortInUseResponse'
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: API Key access
    oauth2:
      type: openIdConnect
      openIdConnectUrl: http://localhost:3000/.well-known/openid-configuration
definitions:
  IsPortInUseResponse:
    type: object
    properties:
      isInUse:
        type: boolean
  PortList:
    type: object
    properties:
      ports:
        type: array
        items:
          type: integer
