openapi: 3.2.0
info:
  title: Daytona Toolbox API
  description: Daytona Toolbox API — toolbox operations on the Daytona AI platform.
  version: '1.0'
  contact:
    name: Daytona Platforms Inc.
    url: https://www.daytona.io
    email: support@daytona.com
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.daytona.io/api
  description: Daytona Cloud production API
tags:
- name: toolbox
paths:
  /toolbox/{sandboxId}/toolbox/project-dir:
    get:
      deprecated: true
      operationId: getProjectDir_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Project directory retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDirResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get sandbox project dir'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/user-home-dir:
    get:
      deprecated: true
      operationId: getUserHomeDir_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: User home directory retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserHomeDirResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get sandbox user home dir'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/work-dir:
    get:
      deprecated: true
      operationId: getWorkDir_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Work-dir retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkDirResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get sandbox work-dir'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files:
    get:
      deprecated: true
      operationId: listFiles_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Files listed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileInfo'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] List files'
      tags:
      - toolbox
    delete:
      deprecated: true
      description: Delete file inside sandbox
      operationId: deleteFile_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: recursive
        required: false
        in: query
        schema:
          type: boolean
      - name: path
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: File deleted successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Delete file'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/download:
    get:
      deprecated: true
      description: Download file from sandbox
      operationId: downloadFile_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: File downloaded successfully
          content:
            application/json:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Download file'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/bulk-download:
    post:
      deprecated: true
      description: Streams back a multipart/form-data bundle of the requested paths
      operationId: downloadFiles_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadFiles'
      responses:
        '200':
          description: A multipart/form-data response with each file as a part
          content:
            application/json:
              schema:
                type: string
                format: binary
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Download multiple files'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/find:
    get:
      deprecated: true
      description: Search for text/pattern inside sandbox files
      operationId: findInFiles_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: true
        in: query
        schema:
          type: string
      - name: pattern
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Match'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Search for text/pattern in files'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/folder:
    post:
      deprecated: true
      description: Create folder inside sandbox
      operationId: createFolder_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: true
        in: query
        schema:
          type: string
      - name: mode
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Folder created successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Create folder'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/info:
    get:
      deprecated: true
      description: Get file info inside sandbox
      operationId: getFileInfo_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: File info retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileInfo'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get file info'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/move:
    post:
      deprecated: true
      description: Move file inside sandbox
      operationId: moveFile_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: source
        required: true
        in: query
        schema:
          type: string
      - name: destination
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: File moved successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Move file'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/permissions:
    post:
      deprecated: true
      description: Set file owner/group/permissions inside sandbox
      operationId: setFilePermissions_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: true
        in: query
        schema:
          type: string
      - name: owner
        required: false
        in: query
        schema:
          type: string
      - name: group
        required: false
        in: query
        schema:
          type: string
      - name: mode
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: File permissions updated successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Set file permissions'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/replace:
    post:
      deprecated: true
      description: Replace text/pattern in multiple files inside sandbox
      operationId: replaceInFiles_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceRequest'
      responses:
        '200':
          description: Text replaced successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReplaceResult'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Replace in files'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/search:
    get:
      deprecated: true
      description: Search for files inside sandbox
      operationId: searchFiles_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: true
        in: query
        schema:
          type: string
      - name: pattern
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchFilesResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Search files'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/upload:
    post:
      deprecated: true
      description: Upload file inside sandbox
      operationId: uploadFile_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: true
        in: query
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: File uploaded successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Upload file'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/files/bulk-upload:
    post:
      deprecated: true
      description: Upload multiple files inside sandbox
      operationId: uploadFiles_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UploadFile'
      responses:
        '200':
          description: Files uploaded successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Upload multiple files'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/git/add:
    post:
      deprecated: true
      description: Add files to git commit
      operationId: gitAddFiles_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitAddRequest'
      responses:
        '200':
          description: Files added to git successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Add files'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/git/branches:
    get:
      deprecated: true
      description: Get branch list from git repository
      operationId: gitListBranches_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Branch list retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBranchResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get branch list'
      tags:
      - toolbox
    post:
      deprecated: true
      description: Create branch on git repository
      operationId: gitCreateBranch_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitBranchRequest'
      responses:
        '200':
          description: Branch created successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Create branch'
      tags:
      - toolbox
    delete:
      deprecated: true
      description: Delete branch on git repository
      operationId: gitDeleteBranch_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitDeleteBranchRequest'
      responses:
        '200':
          description: Branch deleted successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Delete branch'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/git/clone:
    post:
      deprecated: true
      description: Clone git repository
      operationId: gitCloneRepository_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitCloneRequest'
      responses:
        '200':
          description: Repository cloned successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Clone repository'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/git/commit:
    post:
      deprecated: true
      description: Commit changes to git repository
      operationId: gitCommitChanges_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitCommitRequest'
      responses:
        '200':
          description: Changes committed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitCommitResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Commit changes'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/git/history:
    get:
      deprecated: true
      description: Get commit history from git repository
      operationId: gitGetHistory_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Commit history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GitCommitInfo'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get commit history'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/git/pull:
    post:
      deprecated: true
      description: Pull changes from remote
      operationId: gitPullChanges_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitRepoRequest'
      responses:
        '200':
          description: Changes pulled successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Pull changes'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/git/push:
    post:
      deprecated: true
      description: Push changes to remote
      operationId: gitPushChanges_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitRepoRequest'
      responses:
        '200':
          description: Changes pushed successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Push changes'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/git/checkout:
    post:
      deprecated: true
      description: Checkout branch or commit in git repository
      operationId: gitCheckoutBranch_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitCheckoutRequest'
      responses:
        '200':
          description: Branch checked out successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Checkout branch'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/git/status:
    get:
      deprecated: true
      description: Get status from git repository
      operationId: gitGetStatus_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: path
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Git status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitStatus'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get git status'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/process/execute:
    post:
      deprecated: true
      description: Execute command synchronously inside sandbox
      operationId: executeCommand_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteRequest'
      responses:
        '200':
          description: Command executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Execute command'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/process/session:
    get:
      deprecated: true
      description: List all active sessions in the sandbox
      operationId: listSessions_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Sessions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] List sessions'
      tags:
      - toolbox
    post:
      deprecated: true
      description: Create a new session in the sandbox
      operationId: createSession_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '200':
          description: ''
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Create session'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/process/session/{sessionId}:
    get:
      deprecated: true
      description: Get session by ID
      operationId: getSession_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: sessionId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Session retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get session'
      tags:
      - toolbox
    delete:
      deprecated: true
      description: Delete a specific session
      operationId: deleteSession_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: sessionId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Session deleted successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Delete session'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/process/session/{sessionId}/exec:
    post:
      deprecated: true
      description: Execute a command in a specific session
      operationId: executeSessionCommand_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: sessionId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionExecuteRequest'
      responses:
        '200':
          description: Command executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionExecuteResponse'
        '202':
          description: Command accepted and is being processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionExecuteResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Execute command in session'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/process/session/{sessionId}/command/{commandId}:
    get:
      deprecated: true
      description: Get session command by ID
      operationId: getSessionCommand_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: sessionId
        required: true
        in: path
        schema:
          type: string
      - name: commandId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Session command retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Command'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get session command'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/process/session/{sessionId}/command/{commandId}/logs:
    get:
      deprecated: true
      description: Get logs for a specific command in a session
      operationId: getSessionCommandLogs_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: sessionId
        required: true
        in: path
        schema:
          type: string
      - name: commandId
        required: true
        in: path
        schema:
          type: string
      - name: follow
        required: false
        in: query
        description: Whether to stream the logs
        schema:
          type: boolean
      responses:
        '200':
          description: Command log stream marked with stdout and stderr prefixes
          content:
            text/plain:
              schema:
                type: string
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get command logs'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/process/pty:
    get:
      deprecated: true
      description: List all active PTY sessions in the sandbox
      operationId: listPTYSessions_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: PTY sessions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PtyListResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] List PTY sessions'
      tags:
      - toolbox
    post:
      deprecated: true
      description: Create a new PTY session in the sandbox
      operationId: createPTYSession_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PtyCreateRequest'
      responses:
        '201':
          description: PTY session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PtyCreateResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Create PTY session'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/process/pty/{sessionId}:
    get:
      deprecated: true
      description: Get PTY session information by ID
      operationId: getPTYSession_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: sessionId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: PTY session retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PtySessionInfo'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get PTY session'
      tags:
      - toolbox
    delete:
      deprecated: true
      description: Delete a PTY session and terminate the associated process
      operationId: deletePTYSession_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: sessionId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: PTY session deleted successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Delete PTY session'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/process/pty/{sessionId}/resize:
    post:
      deprecated: true
      description: Resize a PTY session
      operationId: resizePTYSession_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: sessionId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PtyResizeRequest'
      responses:
        '200':
          description: PTY session resized successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PtySessionInfo'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Resize PTY session'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/completions:
    post:
      deprecated: true
      description: The Completion request is sent from the client to the server to compute completion items at a given cursor position.
      operationId: LspCompletions_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LspCompletionParams'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionList'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get Lsp Completions'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/did-close:
    post:
      deprecated: true
      description: The document close notification is sent from the client to the server when the document got closed in the client.
      operationId: LspDidClose_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LspDocumentRequest'
      responses:
        '200':
          description: OK
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Call Lsp DidClose'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/did-open:
    post:
      deprecated: true
      description: The document open notification is sent from the client to the server to signal newly opened text documents.
      operationId: LspDidOpen_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LspDocumentRequest'
      responses:
        '200':
          description: OK
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Call Lsp DidOpen'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/document-symbols:
    get:
      deprecated: true
      description: The document symbol request is sent from the client to the server.
      operationId: LspDocumentSymbols_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: languageId
        required: true
        in: query
        schema:
          type: string
      - name: pathToProject
        required: true
        in: query
        schema:
          type: string
      - name: uri
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LspSymbol'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Call Lsp DocumentSymbols'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/start:
    post:
      deprecated: true
      description: Start Lsp server process inside sandbox project
      operationId: LspStart_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LspServerRequest'
      responses:
        '200':
          description: OK
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Start Lsp server'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/stop:
    post:
      deprecated: true
      description: Stop Lsp server process inside sandbox project
      operationId: LspStop_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LspServerRequest'
      responses:
        '200':
          description: OK
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Stop Lsp server'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/workspace-symbols:
    get:
      deprecated: true
      description: The workspace symbol request is sent from the client to the server to list project-wide symbols matching the query string.
      operationId: LspWorkspaceSymbols_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: languageId
        required: true
        in: query
        schema:
          type: string
      - name: pathToProject
        required: true
        in: query
        schema:
          type: string
      - name: query
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LspSymbol'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Call Lsp WorkspaceSymbols'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/start:
    post:
      deprecated: true
      description: Start all VNC desktop processes (Xvfb, xfce4, x11vnc, novnc)
      operationId: startComputerUse_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Computer use processes started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerUseStartResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Start computer use processes'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/stop:
    post:
      deprecated: true
      description: Stop all VNC desktop processes (Xvfb, xfce4, x11vnc, novnc)
      operationId: stopComputerUse_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Computer use processes stopped successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerUseStopResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Stop computer use processes'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/status:
    get:
      deprecated: true
      description: Get status of all VNC desktop processes
      operationId: getComputerUseStatus_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Computer use status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerUseStatusResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get computer use status'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/process/{processName}/status:
    get:
      deprecated: true
      description: Get status of a specific VNC process
      operationId: getProcessStatus_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: processName
        required: true
        in: path
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Process status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessStatusResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get process status'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/process/{processName}/restart:
    post:
      deprecated: true
      description: Restart a specific VNC process
      operationId: restartProcess_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: processName
        required: true
        in: path
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Process restarted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessRestartResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Restart process'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/process/{processName}/logs:
    get:
      deprecated: true
      description: Get logs for a specific VNC process
      operationId: getProcessLogs_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: processName
        required: true
        in: path
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Process logs retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessLogsResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get process logs'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/process/{processName}/errors:
    get:
      deprecated: true
      description: Get error logs for a specific VNC process
      operationId: getProcessErrors_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: processName
        required: true
        in: path
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Process errors retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessErrorsResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get process errors'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/mouse/position:
    get:
      deprecated: true
      description: Get current mouse cursor position
      operationId: getMousePosition_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Mouse position retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MousePosition'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get mouse position'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/mouse/move:
    post:
      deprecated: true
      description: Move mouse cursor to specified coordinates
      operationId: moveMouse_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MouseMoveRequest'
      responses:
        '200':
          description: Mouse moved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MouseMoveResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Move mouse'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/mouse/click:
    post:
      deprecated: true
      description: Click mouse at specified coordinates
      operationId: clickMouse_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MouseClickRequest'
      responses:
        '200':
          description: Mouse clicked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MouseClickResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Click mouse'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/mouse/drag:
    post:
      deprecated: true
      description: Drag mouse from start to end coordinates
      operationId: dragMouse_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MouseDragRequest'
      responses:
        '200':
          description: Mouse dragged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MouseDragResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Drag mouse'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/mouse/scroll:
    post:
      deprecated: true
      description: Scroll mouse at specified coordinates
      operationId: scrollMouse_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MouseScrollRequest'
      responses:
        '200':
          description: Mouse scrolled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MouseScrollResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Scroll mouse'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/keyboard/type:
    post:
      deprecated: true
      description: Type text using keyboard
      operationId: typeText_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyboardTypeRequest'
      responses:
        '200':
          description: Text typed successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Type text'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/keyboard/key:
    post:
      deprecated: true
      description: Press a key with optional modifiers
      operationId: pressKey_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyboardPressRequest'
      responses:
        '200':
          description: Key pressed successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Press key'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/keyboard/hotkey:
    post:
      deprecated: true
      description: Press a hotkey combination
      operationId: pressHotkey_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyboardHotkeyRequest'
      responses:
        '200':
          description: Hotkey pressed successfully
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Press hotkey'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/screenshot:
    get:
      deprecated: true
      description: Take a screenshot of the entire screen
      operationId: takeScreenshot_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: show_cursor
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Screenshot taken successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Take screenshot'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/screenshot/region:
    get:
      deprecated: true
      description: Take a screenshot of a specific region
      operationId: takeRegionScreenshot_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: show_cursor
        required: false
        in: query
        schema:
          type: boolean
      - name: height
        required: true
        in: query
        schema:
          type: number
      - name: width
        required: true
        in: query
        schema:
          type: number
      - name: y
        required: true
        in: query
        schema:
          type: number
      - name: x
        required: true
        in: query
        schema:
          type: number
      responses:
        '200':
          description: Region screenshot taken successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionScreenshotResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Take region screenshot'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/screenshot/compressed:
    get:
      deprecated: true
      description: Take a compressed screenshot with format, quality, and scale options
      operationId: takeCompressedScreenshot_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: scale
        required: false
        in: query
        schema:
          type: number
      - name: quality
        required: false
        in: query
        schema:
          type: number
      - name: format
        required: false
        in: query
        schema:
          type: string
      - name: show_cursor
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Compressed screenshot taken successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompressedScreenshotResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Take compressed screenshot'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/screenshot/region/compressed:
    get:
      deprecated: true
      description: Take a compressed screenshot of a specific region
      operationId: takeCompressedRegionScreenshot_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      - name: scale
        required: false
        in: query
        schema:
          type: number
      - name: quality
        required: false
        in: query
        schema:
          type: number
      - name: format
        required: false
        in: query
        schema:
          type: string
      - name: show_cursor
        required: false
        in: query
        schema:
          type: boolean
      - name: height
        required: true
        in: query
        schema:
          type: number
      - name: width
        required: true
        in: query
        schema:
          type: number
      - name: y
        required: true
        in: query
        schema:
          type: number
      - name: x
        required: true
        in: query
        schema:
          type: number
      responses:
        '200':
          description: Compressed region screenshot taken successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompressedScreenshotResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Take compressed region screenshot'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/display/info:
    get:
      deprecated: true
      description: Get information about displays
      operationId: getDisplayInfo_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Display info retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayInfoResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get display info'
      tags:
      - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/display/windows:
    get:
      deprecated: true
      description: Get list of open windows
      operationId: getWindows_deprecated
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: sandboxId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Windows list retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WindowsResponse'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: '[DEPRECATED] Get windows'
      tags:
      - toolbox
components:
  schemas:
    ScreenshotResponse:
      type: object
      properties:
        screenshot:
          type: string
          description: Base64 encoded screenshot image data
          example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==
        cursorPosition:
          type: object
          description: The current cursor position when the screenshot was taken
          example:
            x: 500
            y: 300
        sizeBytes:
          type: number
          description: The size of the screenshot data in bytes
          example: 24576
      required:
      - screenshot
    GitCommitResponse:
      type: object
      properties:
        hash:
          type: string
      required:
      - hash
    ListBranchResponse:
      type: object
      properties:
        branches:
          type: array
          items:
            type: string
      required:
      - branches
    ProcessStatusResponse:
      type: object
      properties:
        processName:
          type: string
          description: The name of the VNC process being checked
          example: xfce4
        running:
          type: boolean
          description: Whether the specified VNC process is currently running
          example: true
      required:
      - processName
      - running
    UploadFile:
      type: object
      properties:
        file:
          type: string
          format: binary
        path:
          type: string
      required:
      - file
      - path
    KeyboardTypeRequest:
      type: object
      properties:
        text:
          type: string
          description: The text to type using the keyboard
          example: Hello, World!
        delay:
          type: number
          description: Delay in milliseconds between keystrokes. Defaults to 0
          example: 100
      required:
      - text
    KeyboardHotkeyRequest:
      type: object
      properties:
        keys:
          type: string
          description: The hotkey combination to press (e.g., "ctrl+c", "cmd+v", "alt+tab")
          example: ctrl+c
      required:
      - keys
    PtySessionInfo:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the PTY session
          example: pty-session-12345
        cwd:
          type: string
          description: Starting directory for the PTY session, defaults to the sandbox's working directory
          example: /home/user
        envs:
          type: object
          description: Environment variables for the PTY session
          example:
            TERM: xterm-256color
            PS1: '\u@daytona:\w$ '
        cols:
          type: number
          description: Number of terminal columns
          example: 80
        rows:
          type: number
          description: Number of terminal rows
          example: 24
        createdAt:
          type: string
          description: When the PTY session was created
          example: '2024-01-15T10:30:45Z'
        active:
          type: boolean
          description: Whether the PTY session is currently active
          example: true
        lazyStart:
          type: boolean
          description: Whether the PTY session uses lazy start (only start when first client connects)
          example: false
          default: false
      required:
      - id
      - cwd
      - envs
      - cols
      - rows
      - createdAt
      - active
      - lazyStart
    ProcessErrorsResponse:
      type: object
      properties:
        processName:
          type: string
          description: The name of the VNC process whose error logs were retrieved
          example: x11vnc
        errors:
          type: string
          description: The error log output from the specified VNC process
          example: 2024-01-15 10:30:45 [ERROR] Failed to bind to port 5901
      required:
      - processName
      - errors
    GitBranchRequest:
      type: object
      properties:
        path:
          type: string
        name:
          type: string
      required:
      - path
      - name
    ProcessLogsResponse:
      type: object
      properties:
        processName:
          type: string
          description: The name of the VNC process whose logs were retrieved
          example: novnc
        logs:
          type: string
          description: The log output from the specified VNC process
          example: 2024-01-15 10:30:45 [INFO] NoVNC server started on port 6080
      required:
      - processName
      - logs
    WorkDirResponse:
      type: object
      properties:
        dir:
          type: string
    ComputerUseStartResponse:
      type: object
      properties:
        message:
          type: string
          description: A message indicating the result of starting computer use processes
          example: Computer use processes started successfully
        status:
          type: object
          description: Status information about all VNC desktop processes after starting
          example:
            xvfb:
              running: true
              priority: 100
              autoRestart: true
              pid: 12345
            xfce4:
              running: true
              priority: 200
              autoRestart: true
              pid: 12346
            x11vnc:
              running: true
              priority: 300
              autoRestart: true
              pid: 12347
            novnc:
              running: true
              priority: 400
              autoRestart: true
              pid: 12348
      required:
      - message
      - status
    GitCommitInfo:
      type: object
      properties:
        hash:
          type: string
        message:
          type: string
        author:
          type: string
        email:
          type: string
        timestamp:
          type: string
      required:
      - hash
      - message
      - author
      - email
      - timestamp
    PtyResizeRequest:
      type: object
      properties:
        cols:
          type: number
          description: Number of terminal columns
          example: 80
        rows:
          type: number
          description: Number of terminal rows
          example: 24
      required:
      - cols
      - rows
    GitCommitRequest:
      type: object
      properties:
        path:
          type: string
        message:
          type: string
        author:
          type: string
        email:
          type: string
        allow_empty:
          type: boolean
          description: Allow creating an empty commit when no changes are staged
          default: false
      required:
      - path
      - message
      - author
      - email
    SearchFilesResponse:
      type: object
      properties:
        files:
          type: array
          items:
            type: string
      required:
      - files
    MouseMoveRequest:
      type: object
      properties:
        x:
          type: number
          description: The target X coordinate to move the mouse cursor to
          example: 150
        y:
          type: number
          description: The target Y coordinate to move the mouse cursor to
          example: 250
      required:
      - x
      - y
    FileInfo:
      type: object
      properties:
        name:
          type: string
        isDir:
          type: boolean
        size:
          type: number
        modTime:
          type: string
        mode:
          type: string
        permissions:
          type: string
        owner:
          type: string
        group:
          type: string
      required:
      - name
      - isDir
      - size
      - modTime
      - mode
      - permissions
      - owner
      - group
    Match:
      type: object
      properties:
        file:
          type: string
        line:
          type: number
        content:
          type: string
      required:
      - file
      - line
      - content
    CompletionItem:
      type: object
      properties:
        label:
          type: string
        kind:
          type: number
        detail:
          type: string
        documentation:
          type: object
        sortText:
          type: string
        filterText:
          type: string
        insertText:
          type: string
      required:
      - label
    WindowsResponse:
      type: object
      properties:
        windows:
          description: Array of window information for all visible windows
          example:
          - id: 12345
            title: Terminal
          type: array
          items:
            type: object
        count:
          type: number
          description: The total number of windows found
          example: 5
      required:
      - windows
      - count
    CreateSessionRequest:
      type: object
      properties:
        sessionId:
          type: string
          description: The ID of the session
          example: session-123
      required:
      - sessionId
    FileStatus:
      type: object
      properties:
        name:
          type: string
        staging:
          type: string
        worktree:
          type: string
        extra:
          type: string
      required:
      - name
      - staging
      - worktree
      - extra
    SessionExecuteRequest:
      type: object
      properties:
        command:
          type: string
          description: The command to execute
          example: ls -la
        runAsync:
          type: boolean
          description: Whether to execute the command asynchronously
          example: false
        async:
          type: boolean
          description: 'Deprecated: Use runAsync instead. Whether to execute the command asynchronously'
          example: false
          deprecated: true
      required:
      - command
    LspDocumentRequest:
      type: object
      properties:
        languageId:
          type: string
          description: Language identifier
        pathToProject:
          type: string
          description: Path to the project
        uri:
          type: string
          description: Document URI
      required:
      - languageId
      - pathToProject
      - uri
    MouseScrollRequest:
      type: object
      properties:
        x:
          type: number
          description: The X coordinate where to perform the scroll operation
          example: 100
        y:
          type: number
          description: The Y coordinate where to perform the scroll operation
          example: 200
        direction:
          type: string
          description: The scroll direction (up, down)
          example: down
        amount:
          type: number
          description: The number of scroll units to scroll. Defaults to 1
          example: 3
      required:
      - x
      - y
      - direction
    LspSymbol:
      type: object
      properties:
        kind:
          type: number
        location:
          $ref: '#/components/schemas/LspLocation'
        name:
          type: string
      required:
      - kind
      - location
      - name
    MousePosition:
      type: object
      properties:
        x:
          type: number
          description: The X coordinate of the mouse cursor position
          example: 100
        y:
          type: number
          description: The Y coordinate of the mouse cursor position
          example: 200
      required:
      - x
      - y
    ComputerUseStatusResponse:
      type: object
      properties:
        status:
          type: string
          description: Status of computer use services (active, partial, inactive, error)
          example: active
          enum:
          - active
          - partial
          - inactive
          - error
      required:
      - status
    LspServerRequest:
      type: object
      properties:
        languageId:
          type: string
          description: Language identifier
        pathToProject:
          type: string
          description: Path to the project
      required:
      - languageId
      - pathToProject
    MouseScrollResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the mouse scroll operation was successful
          example: true
      required:
      - success
    MouseDragRequest:
      type: object
      properties:
        startX:
          type: number
          description: The starting X coordinate for the drag operation
          example: 100
        startY:
          type: number
          description: The starting Y coordinate for the drag operation
          example: 200
        endX:
          type: number
          description: The ending X coordinate for the drag operation
          example: 300
        endY:
          type: number
          description: The ending Y coordinate for the drag operation
          example: 400
        button:
          type: string
          description: The mouse button to use for dragging (left, right, middle). Defaults to left
          example: left
      required:
      - startX
      - startY
      - endX
      - endY
    Session:
      type: object
      properties:
        sessionId:
          type: string
          description: The ID of the session
          example: session-123
        commands:
          description: The list of commands executed in this session
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/Command'
      required:
      - sessionId
      - commands
    GitStatus:
      type: object
      properties:
        currentBranch:
          type: string
        fileStatus:
          type: array
          items:
            $ref: '#/components/schemas/FileStatus'
        ahead:
          type: number
        behind:
          type: number
        branchPublished:
          type: boolean
      required:
      - currentBranch
      - fileStatus
    ReplaceRequest:
      type: object
      properties:
        files:
          type: array
          items:
            type: string
        pattern:
          type: string
        newValue:
          type: string
      required:
      - files
      - pattern
      - newValue
    LspLocation:
      type: object
      properties:
        range:
          $ref: '#/components/schemas/Range'
        uri:
          type: string
      required:
      - range
      - uri
    Range:
      type: object
      properties:
        start:
          $ref: '#/components/schemas/Position'
        end:
          $ref: '#/components/schemas/Position'
      required:
      - start
      - end
    PtyCreateResponse:
      type: object
      properties:
        sessionId:
          type: string
          description: The unique identifier for the created PTY session
          example: pty-session-12345
      required:
      - sessionId
    PtyListResponse:
      type: object
      properties:
        sessions:
          description: List of active PTY sessions
          type: array
          items:
            $ref: '#/components/schemas/PtySessionInfo'
      required:
      - sessions
    CompressedScreenshotResponse:
      type: object
      properties:
        screenshot:
          type: string
          description: Base64 encoded compressed screenshot image data
          example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==
        cursorPosition:
          type: object
          description: The current cursor position when the compressed screenshot was taken
          example:
            x: 250
            y: 150
        sizeBytes:
          type: number
          description: The size of the compressed screenshot data in bytes
          example: 12288
      required:
      - screenshot
    Command:
      type: object
      properties:
        id:
          type: string
          description: The ID of the command
          example: cmd-123
        command:
          type: string
          description: The command that was executed
          example: ls -la
        exitCode:
          type: number
          description: The exit code of the command
          example: 0
      required:
      - id
      - command
    MouseClickRequest:
      type: object
      properties:
        x:
          type: number
          description: The X coordinate where to perform the mouse click
          example: 100
        y:
          type: number
          description: The Y coordinate where to perform the mouse click
          example: 200
        button:
          type: string
          description: The mouse button to click (left, right, middle). Defaults to left
          example: left
        double:
          type: boolean
          description: Whether to perform a double-click instead of a single click
          example: false
      required:
      - x
      - y
    ExecuteResponse:
      type: object
      properties:
        exitCode:
          type: number
          description: Exit code
          example: 0
        result:
          type: string
          description: Command output
          example: Command output here
      required:
      - exitCode
      - result
    CompletionList:
      type: object
      properties:
        isIncomplete:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/CompletionItem'
      required:
      - isIncomplete
      - items
    MouseClickResponse:
      type: object
      properties:
        x:
          type: number
          description: The actual X coordinate where the click occurred
          example: 100
        y:
          type: number
          description: The actual Y coordinate where the click occurred
          example: 200
      required:
      - x
      - y
    MouseMoveResponse:
      type: object
      properties:
        x:
          type: number
          description: The actual X coordinate where the mouse cursor ended up
          example: 150
        y:
          type: number
          description: The actual Y coordinate where the mouse cursor ended up
          example: 250
      required:
      - x
      - y
    DisplayInfoResponse:
      type: object
      properties:
        displays:
          description: Array of display information for all connected displays
          example:
          - id: 0
            x: 0
            y: 0
            width: 1920
            height: 1080
            is_active: true
          type: array
          items:
            type: object
      required:
      - displays
    GitRepoRequest:
      type: object
      properties:
        path:
          type: string
        username:
          type: string
        password:
          type: string
      required:
      - path
    RegionScreenshotResponse:
      type: object
      properties:
        screenshot:
          type: string
          description: Base64 encoded screenshot image data of the specified region
          example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==
        cursorPosition:
          type: object
          description: The current cursor position when the region screenshot was taken
          example:
            x: 500
            y: 300
        sizeBytes:
          type: number
          description: The size of the screenshot data in bytes
          example: 24576
      required:
      - screenshot
    Position:
      type: object
      properties:
        line:
          type: number
        character:
          type: number
      required:
      - line
      - character
    GitCloneRequest:
      type: object
      properties:
        url:
          type: string
        path:
          type: string
        username:
          type: string
        password:
          type: string
        branch:
          type: string
        commit_id:
          type: string
      required:
      - url
      - path
    SessionExecuteResponse:
      type: object
      properties:
        cmdId:
          type: string
          description: The ID of the executed command
          example: cmd-123
        output:
          type: string
          description: The output of the executed command marked with stdout and stderr prefixes
          example: 'total 20

            drwxr-xr-x  4 user group  128 Mar 15 10:30 .'
        exitCode:
          type: number
          description: The exit code of the executed command
          example: 0
    ProcessRestartResponse:
      type: object
      properties:
        message:
          type: string
          description: A message indicating the result of restarting the process
          example: Process xfce4 restarted successfully
        processName:
          type: string
          description: The name of the VNC process that was restarted
          example: xfce4
      required:
      - message
      - processName
    PtyCreateRequest:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the PTY session
          example: pty-session-12345
        cwd:
          type: string
          description: Starting directory for the PTY session, defaults to the sandbox's working directory
          example: /home/user
        envs:
          type: object
          description: Environment variables for the PTY session
          example:
            TERM: xterm-256color
            PS1: '\u@daytona:\w$ '
        cols:
          type: number
          description: Number of terminal columns
          example: 80
        rows:
          type: number
          description: Number of terminal rows
          example: 24
        lazyStart:
          type: boolean
          description: Whether to start the PTY session lazily (only start when first client connects)
          example: false
          default: false
      required:
      - id
    ReplaceResult:
      type: object
      properties:
        file:
          type: string
        success:
          type: boolean
        error:
          type: string
    CompletionContext:
      type: object
      properties:
        triggerKind:
          type: number
        triggerCharacter:
          type: string
      required:
      - triggerKind
    KeyboardPressRequest:
      type: object
      properties:
        key:
          type: string
          description: The key to press (e.g., a, b, c, enter, space, etc.)
          example: enter
        modifiers:
          description: Array of modifier keys to press along with the main key (ctrl, alt, shift, cmd)
          example:
          - ctrl
          - shift
          type: array
          items:
            type: string
      required:
      - key
    DownloadFiles:
      type: object
      properties:
        paths:
          description: List of remote file paths to download
          type: array
          items:
            type: string
      required:
      - paths
    GitCheckoutRequest:
      type: object
      properties:
        path:
          type: string
        branch:
          type: string
      required:
      - path
      - branch
    ExecuteRequest:
      type: object
      properties:
        command:
          type: string
        cwd:
          type: string
          description: Current working directory
        timeout:
          type: number
          description: Timeout in seconds, defaults to 10 seconds
      required:
      - command
    GitDeleteBranchRequest:
      type: object
      properties:
        path:
          type: string
        name:
          type: string
      required:
      - path
      - name
    UserHomeDirResponse:
      type: object
      properties:
        dir:
          type: string
    GitAddRequest:
      type: object
      properties:
        path:
          type: string
        files:
          description: files to add (use . for all files)
          type: array
          items:
            type: string
      required:
      - path
      - files
    ComputerUseStopResponse:
      type: object
      properties:
        message:
          type: string
          description: A message indicating the result of stopping computer use processes
          example: Computer use processes stopped successfully
        status:
          type: object
          description: Status information about all VNC desktop processes after stopping
          example:
            xvfb:
              running: false
              priority: 100
              autoRestart: true
            xfce4:
              running: false
              priority: 200
              autoRestart: true
            x11vnc:
              running: false
              priority: 300
              autoRestart: true
            novnc:
              running: false
              priority: 400
              autoRestart: true
      required:
      - message
      - status
    ProjectDirResponse:
      type: object
      properties:
        dir:
          type: string
    LspCompletionParams:
      type: object
      properties:
        languageId:
          type: string
          description: Language identifier
        pathToProject:
          type: string
          description: Path to the project
        uri:
          type: string
          description: Document URI
        position:
          $ref: '#/components/schemas/Position'
        context:
          $ref: '#/components/schemas/CompletionContext'
      required:
      - languageId
      - pathToProject
      - uri
      - position
    MouseDragResponse:
      type: object
      properties:
        x:
          type: number
          description: The actual X coordinate where the drag ended
          example: 300
        y:
          type: number
          description: The actual Y coordinate where the drag ended
          example: 400
      required:
      - x
      - y
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: API Key access
    oauth2:
      type: openIdConnect
      openIdConnectUrl: http://localhost:3000/.well-known/openid-configuration
