openapi: 3.1.0
info:
  title: Daytona admin webhooks API
  description: Daytona Admin API — admin, audit, config, runners, docker-registry, regions, object-storage, jobs operations on the Daytona AI platform.
  version: '1.0'
  contact:
    name: Daytona Platforms Inc.
    url: https://www.daytona.io
    email: support@daytona.com
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.daytona.io/api
  description: Daytona Cloud production API
tags:
- name: webhooks
paths:
  /webhooks/organizations/{organizationId}/app-portal-access:
    post:
      operationId: WebhookController_getAppPortalAccess
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: organizationId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: App Portal access generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAppPortalAccess'
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: Get Svix Consumer App Portal access for an organization
      tags:
      - webhooks
  /webhooks/organizations/{organizationId}/initialization-status:
    get:
      operationId: WebhookController_getInitializationStatus
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: organizationId
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Webhook initialization status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookInitializationStatus'
        '404':
          description: Webhook initialization status not found
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: Get webhook initialization status for an organization
      tags:
      - webhooks
  /webhooks/organizations/{organizationId}/refresh-endpoints:
    post:
      operationId: WebhookController_refreshEndpoints
      parameters:
      - name: X-Daytona-Organization-ID
        in: header
        description: Use with JWT to specify the organization ID
        required: false
        schema:
          type: string
      - name: organizationId
        required: true
        in: path
        schema:
          type: string
      responses:
        '204':
          description: Endpoint flag refreshed
        '404':
          description: Webhook initialization status not found
      security:
      - bearer: []
      - oauth2:
        - openid
        - profile
        - email
      summary: Refresh cached endpoint presence flag for an organization
      tags:
      - webhooks
components:
  schemas:
    WebhookInitializationStatus:
      type: object
      properties:
        organizationId:
          type: string
          description: Organization ID
          example: 123e4567-e89b-12d3-a456-426614174000
        svixApplicationId:
          type: string
          description: The ID of the Svix application
          example: app_1234567890
          nullable: true
        lastError:
          type: string
          description: The error reason for the last initialization attempt
          example: Failed to create Svix application
          nullable: true
        retryCount:
          type: number
          description: The number of times the initialization has been attempted
          example: 3
        createdAt:
          type: string
          description: When the webhook initialization was created
          example: '2023-01-01T00:00:00.000Z'
        updatedAt:
          type: string
          description: When the webhook initialization was last updated
          example: '2023-01-01T00:00:00.000Z'
      required:
      - organizationId
      - svixApplicationId
      - lastError
      - retryCount
      - createdAt
      - updatedAt
    WebhookAppPortalAccess:
      type: object
      properties:
        token:
          type: string
          description: The authentication token for the Svix consumer app portal
          example: appsk_...
        url:
          type: string
          description: The URL to the webhook app portal
          example: https://app.svix.com/app_1234567890
      required:
      - token
      - url
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: API Key access
    oauth2:
      type: openIdConnect
      openIdConnectUrl: http://localhost:3000/.well-known/openid-configuration
