openapi: 3.2.0
info:
  description: Daytona Toolbox API
  title: Daytona Sandbox Toolbox Computer Use API
  contact: {}
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: v0.0.0-dev
servers:
- url: https://proxy.app.daytona.io/toolbox
  description: Daytona Sandbox Toolbox proxy
tags:
- name: computer-use
paths:
  /computeruse/a11y/find:
    post:
      description: Search the AT-SPI tree for nodes matching a role/name/state filter and return a flat list.
      tags:
      - computer-use
      summary: Find accessibility nodes
      operationId: FindAccessibilityNodes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessibilityNodesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FindAccessibilityNodesRequest'
        description: Find request
        required: true
  /computeruse/a11y/node/focus:
    post:
      description: Move keyboard focus to the AT-SPI node identified by id (bus-name:object-path).
      tags:
      - computer-use
      summary: Focus an accessibility node
      operationId: FocusAccessibilityNode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessibilityNodeRequest'
        description: Node focus request
        required: true
  /computeruse/a11y/node/invoke:
    post:
      description: Call an AT-SPI Action on the node. Leave action empty to invoke the node's primary (first) action.
      tags:
      - computer-use
      summary: Invoke an action on an accessibility node
      operationId: InvokeAccessibilityNode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessibilityInvokeRequest'
        description: Invoke request
        required: true
  /computeruse/a11y/node/value:
    post:
      description: Write the given value to the node via EditableText.SetTextContents or, for numeric controls, Value.CurrentValue.
      tags:
      - computer-use
      summary: Set the value of an accessibility node
      operationId: SetAccessibilityNodeValue
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessibilitySetValueRequest'
        description: Set value request
        required: true
  /computeruse/a11y/tree:
    get:
      description: Fetch the AT-SPI accessibility tree for the focused application, a specific PID, or all registered applications.
      tags:
      - computer-use
      summary: Get accessibility tree
      operationId: GetAccessibilityTree
      parameters:
      - description: 'Scope: focused | pid | all (default: focused)'
        name: scope
        in: query
        schema:
          type: string
      - description: Process ID when scope=pid
        name: pid
        in: query
        schema:
          type: integer
      - description: Max tree depth (-1 unbounded, 0 root only; default -1)
        name: maxDepth
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessibilityTreeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
  /computeruse/display/info:
    get:
      description: Get information about all available displays
      tags:
      - computer-use
      summary: Get display information
      operationId: GetDisplayInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayInfoResponse'
  /computeruse/display/windows:
    get:
      description: Get information about all open windows
      tags:
      - computer-use
      summary: Get windows information
      operationId: GetWindows
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WindowsResponse'
  /computeruse/keyboard/hotkey:
    post:
      description: Press a hotkey combination (e.g., ctrl+c, cmd+v)
      tags:
      - computer-use
      summary: Press hotkey
      operationId: PressHotkey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyboardHotkeyRequest'
        description: Hotkey press request
        required: true
  /computeruse/keyboard/key:
    post:
      description: Press a key with optional modifiers
      tags:
      - computer-use
      summary: Press key
      operationId: PressKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyboardPressRequest'
        description: Key press request
        required: true
  /computeruse/keyboard/type:
    post:
      description: Type text with optional delay between keystrokes
      tags:
      - computer-use
      summary: Type text
      operationId: TypeText
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Empty'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyboardTypeRequest'
        description: Text typing request
        required: true
  /computeruse/mouse/click:
    post:
      description: Click the mouse button at the specified coordinates
      tags:
      - computer-use
      summary: Click mouse button
      operationId: Click
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MouseClickResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MouseClickRequest'
        description: Mouse click request
        required: true
  /computeruse/mouse/drag:
    post:
      description: Drag the mouse from start to end coordinates
      tags:
      - computer-use
      summary: Drag mouse
      operationId: Drag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MouseDragResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MouseDragRequest'
        description: Mouse drag request
        required: true
  /computeruse/mouse/move:
    post:
      description: Move the mouse cursor to the specified coordinates
      tags:
      - computer-use
      summary: Move mouse cursor
      operationId: MoveMouse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MousePositionResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MouseMoveRequest'
        description: Mouse move request
        required: true
  /computeruse/mouse/position:
    get:
      description: Get the current mouse cursor position
      tags:
      - computer-use
      summary: Get mouse position
      operationId: GetMousePosition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MousePositionResponse'
  /computeruse/mouse/scroll:
    post:
      description: Scroll the mouse wheel at the specified coordinates
      tags:
      - computer-use
      summary: Scroll mouse wheel
      operationId: Scroll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrollResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MouseScrollRequest'
        description: Mouse scroll request
        required: true
  /computeruse/process-status:
    get:
      description: Get the status of all computer use processes
      tags:
      - computer-use
      summary: Get computer use process status
      operationId: GetComputerUseStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerUseStatusResponse'
  /computeruse/process/{processName}/errors:
    get:
      description: Get errors for a specific computer use process
      tags:
      - computer-use
      summary: Get process errors
      operationId: GetProcessErrors
      parameters:
      - description: Process name to get errors for
        name: processName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessErrorsResponse'
  /computeruse/process/{processName}/logs:
    get:
      description: Get logs for a specific computer use process
      tags:
      - computer-use
      summary: Get process logs
      operationId: GetProcessLogs
      parameters:
      - description: Process name to get logs for
        name: processName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessLogsResponse'
  /computeruse/process/{processName}/restart:
    post:
      description: Restart a specific computer use process
      tags:
      - computer-use
      summary: Restart specific process
      operationId: RestartProcess
      parameters:
      - description: Process name to restart
        name: processName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessRestartResponse'
  /computeruse/process/{processName}/status:
    get:
      description: Check if a specific computer use process is running
      tags:
      - computer-use
      summary: Get specific process status
      operationId: GetProcessStatus
      parameters:
      - description: Process name to check
        name: processName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessStatusResponse'
  /computeruse/recordings:
    get:
      description: Get a list of all recordings (active and completed)
      tags:
      - computer-use
      summary: List all recordings
      operationId: ListRecordings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRecordingsResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
  /computeruse/recordings/start:
    post:
      description: Start a new screen recording session
      tags:
      - computer-use
      summary: Start a new recording
      operationId: StartRecording
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recording'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRecordingRequest'
        description: Recording options
  /computeruse/recordings/stop:
    post:
      description: Stop an active screen recording session
      tags:
      - computer-use
      summary: Stop a recording
      operationId: StopRecording
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recording'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopRecordingRequest'
        description: Recording ID to stop
        required: true
  /computeruse/recordings/{id}:
    get:
      description: Get details of a specific recording by ID
      tags:
      - computer-use
      summary: Get recording details
      operationId: GetRecording
      parameters:
      - description: Recording ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recording'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
    delete:
      description: Delete a recording file by ID
      tags:
      - computer-use
      summary: Delete a recording
      operationId: DeleteRecording
      parameters:
      - description: Recording ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
  /computeruse/recordings/{id}/download:
    get:
      description: Download a recording by providing its ID
      tags:
      - computer-use
      summary: Download a recording
      operationId: DownloadRecording
      parameters:
      - description: Recording ID
        name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '404':
          description: Not Found
          content:
            application/octet-stream:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Internal Server Error
          content:
            application/octet-stream:
              schema:
                type: object
                additionalProperties:
                  type: string
  /computeruse/screenshot:
    get:
      description: Take a screenshot of the entire screen
      tags:
      - computer-use
      summary: Take a screenshot
      operationId: TakeScreenshot
      parameters:
      - description: Whether to show cursor in screenshot
        name: showCursor
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotResponse'
  /computeruse/screenshot/compressed:
    get:
      description: Take a compressed screenshot of the entire screen
      tags:
      - computer-use
      summary: Take a compressed screenshot
      operationId: TakeCompressedScreenshot
      parameters:
      - description: Whether to show cursor in screenshot
        name: showCursor
        in: query
        schema:
          type: boolean
      - description: Image format (png or jpeg)
        name: format
        in: query
        schema:
          type: string
      - description: JPEG quality (1-100)
        name: quality
        in: query
        schema:
          type: integer
      - description: Scale factor (0.1-1.0)
        name: scale
        in: query
        schema:
          type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotResponse'
  /computeruse/screenshot/region:
    get:
      description: Take a screenshot of a specific region of the screen
      tags:
      - computer-use
      summary: Take a region screenshot
      operationId: TakeRegionScreenshot
      parameters:
      - description: X coordinate of the region
        name: x
        in: query
        required: true
        schema:
          type: integer
      - description: Y coordinate of the region
        name: y
        in: query
        required: true
        schema:
          type: integer
      - description: Width of the region
        name: width
        in: query
        required: true
        schema:
          type: integer
      - description: Height of the region
        name: height
        in: query
        required: true
        schema:
          type: integer
      - description: Whether to show cursor in screenshot
        name: showCursor
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotResponse'
  /computeruse/screenshot/region/compressed:
    get:
      description: Take a compressed screenshot of a specific region of the screen
      tags:
      - computer-use
      summary: Take a compressed region screenshot
      operationId: TakeCompressedRegionScreenshot
      parameters:
      - description: X coordinate of the region
        name: x
        in: query
        required: true
        schema:
          type: integer
      - description: Y coordinate of the region
        name: y
        in: query
        required: true
        schema:
          type: integer
      - description: Width of the region
        name: width
        in: query
        required: true
        schema:
          type: integer
      - description: Height of the region
        name: height
        in: query
        required: true
        schema:
          type: integer
      - description: Whether to show cursor in screenshot
        name: showCursor
        in: query
        schema:
          type: boolean
      - description: Image format (png or jpeg)
        name: format
        in: query
        schema:
          type: string
      - description: JPEG quality (1-100)
        name: quality
        in: query
        schema:
          type: integer
      - description: Scale factor (0.1-1.0)
        name: scale
        in: query
        schema:
          type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotResponse'
  /computeruse/start:
    post:
      description: Start all computer use processes and return their status
      tags:
      - computer-use
      summary: Start computer use processes
      operationId: StartComputerUse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerUseStartResponse'
  /computeruse/status:
    get:
      description: Get the current status of the computer use system
      tags:
      - computer-use
      summary: Get computer use status
      operationId: GetComputerUseSystemStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerUseStatusResponse'
  /computeruse/stop:
    post:
      description: Stop all computer use processes and return their status
      tags:
      - computer-use
      summary: Stop computer use processes
      operationId: StopComputerUse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComputerUseStopResponse'
components:
  schemas:
    ScreenshotResponse:
      type: object
      properties:
        cursorPosition:
          $ref: '#/components/schemas/Position'
        screenshot:
          type: string
        sizeBytes:
          type: integer
    ProcessStatusResponse:
      type: object
      properties:
        processName:
          type: string
        running:
          type: boolean
    ScrollResponse:
      type: object
      properties:
        success:
          type: boolean
    AccessibilityBounds:
      type: object
      properties:
        height:
          type: integer
        width:
          type: integer
        x:
          type: integer
        y:
          type: integer
    KeyboardTypeRequest:
      type: object
      properties:
        delay:
          description: milliseconds between keystrokes
          type: integer
        text:
          type: string
    ProcessErrorsResponse:
      type: object
      properties:
        errors:
          type: string
        processName:
          type: string
    AccessibilityInvokeRequest:
      type: object
      required:
      - id
      properties:
        action:
          type: string
        id:
          type: string
    KeyboardHotkeyRequest:
      type: object
      properties:
        keys:
          description: e.g., "ctrl+c", "cmd+v"
          type: string
    ProcessLogsResponse:
      type: object
      properties:
        logs:
          type: string
        processName:
          type: string
    AccessibilityTreeResponse:
      type: object
      properties:
        root:
          $ref: '#/components/schemas/computeruse.AccessibilityNode'
        truncated:
          type: boolean
    ComputerUseStartResponse:
      type: object
      properties:
        message:
          type: string
        status:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ProcessStatus'
    StopRecordingRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
    MouseMoveRequest:
      type: object
      properties:
        x:
          type: integer
        y:
          type: integer
    WindowsResponse:
      type: object
      properties:
        windows:
          type: array
          items:
            $ref: '#/components/schemas/WindowInfo'
    MouseScrollRequest:
      type: object
      properties:
        amount:
          type: integer
          default: 1
          minimum: 0
        direction:
          description: up, down
          type: string
        x:
          type: integer
        y:
          type: integer
    Recording:
      type: object
      required:
      - fileName
      - filePath
      - id
      - startTime
      - status
      properties:
        durationSeconds:
          type: number
        endTime:
          type: string
        fileName:
          type: string
        filePath:
          type: string
        id:
          type: string
        sizeBytes:
          type: integer
        startTime:
          type: string
        status:
          type: string
    ComputerUseStatusResponse:
      type: object
      properties:
        status:
          type: string
    MouseDragRequest:
      type: object
      properties:
        button:
          type: string
        endX:
          type: integer
        endY:
          type: integer
        startX:
          type: integer
        startY:
          type: integer
    FindAccessibilityNodesRequest:
      type: object
      properties:
        limit:
          type: integer
        name:
          type: string
        nameMatch:
          description: '"exact" | "substring" | "regex"'
          type: string
        pid:
          type: integer
        role:
          type: string
        scope:
          type: string
        states:
          type: array
          items:
            type: string
    computeruse.AccessibilityNode:
      type: object
      properties:
        actions:
          type: array
          items:
            type: string
        bounds:
          $ref: '#/components/schemas/AccessibilityBounds'
        children:
          type: array
          items:
            $ref: '#/components/schemas/computeruse.AccessibilityNode'
        description:
          type: string
        id:
          type: string
        name:
          type: string
        role:
          type: string
        states:
          type: array
          items:
            type: string
    ProcessStatus:
      type: object
      properties:
        autoRestart:
          type: boolean
        pid:
          type: integer
        priority:
          type: integer
        running:
          type: boolean
    MouseClickRequest:
      type: object
      properties:
        button:
          description: left, right, middle
          type: string
        double:
          type: boolean
        x:
          type: integer
        y:
          type: integer
    MouseClickResponse:
      type: object
      properties:
        x:
          type: integer
        y:
          type: integer
    AccessibilitySetValueRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
        value:
          type: string
    Position:
      type: object
      properties:
        x:
          type: integer
        y:
          type: integer
    StartRecordingRequest:
      type: object
      properties:
        label:
          type: string
    MousePositionResponse:
      type: object
      properties:
        x:
          type: integer
        y:
          type: integer
    ProcessRestartResponse:
      type: object
      properties:
        message:
          type: string
        processName:
          type: string
    Empty:
      type: object
    KeyboardPressRequest:
      type: object
      properties:
        key:
          type: string
        modifiers:
          description: ctrl, alt, shift, cmd
          type: array
          items:
            type: string
    AccessibilityNodesResponse:
      type: object
      properties:
        matches:
          type: array
          items:
            $ref: '#/components/schemas/computeruse.AccessibilityNode'
        truncated:
          type: boolean
    ListRecordingsResponse:
      type: object
      required:
      - recordings
      properties:
        recordings:
          type: array
          items:
            $ref: '#/components/schemas/Recording'
    DisplayInfo:
      type: object
      properties:
        height:
          type: integer
        id:
          type: integer
        isActive:
          type: boolean
        width:
          type: integer
        x:
          type: integer
        y:
          type: integer
    DisplayInfoResponse:
      type: object
      properties:
        displays:
          type: array
          items:
            $ref: '#/components/schemas/DisplayInfo'
    ComputerUseStopResponse:
      type: object
      properties:
        message:
          type: string
        status:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ProcessStatus'
    AccessibilityNodeRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
    WindowInfo:
      type: object
      properties:
        height:
          type: integer
        id:
          type: integer
        isActive:
          type: boolean
        title:
          type: string
        width:
          type: integer
        x:
          type: integer
        y:
          type: integer
    MouseDragResponse:
      type: object
      properties:
        x:
          type: integer
        y:
          type: integer
